<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
    <link rel="stylesheet" href="static/for_all.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="static/ub1logo.png" alt="uber.com">
        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary"></h1>
    </section>
    <section>


    </section>
<!--    <section>-->
<!--        <div class="box">-->
<!--                <h3 class="centre">To See The Sum of Null Values</h3>-->
<!--                <a class="btn2" href="/5">click Here</a>-->
<!--        </div>-->
<!--    </section>-->
    <section>
        <div class="details">
             <h1>
                   <h1>
                 {% for table in dataset %}
                 <h2>{{titles[loop.index]}}</h2>
                 {{ table|safe }}
                 {% endfor %}
             </h1>
             </h1>
        </div>
    </section>


<!--    <footer>-->
<!--        <div class="center">-->
<!--            Copyright &copy; www.myuberdata.com. All rights reserved!-->
<!--        </div>-->
<!--    </footer>-->

</body>
</html>

