<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="static/for_all.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="static/ub1logo.png" alt="uber.com">
        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
        </ul>
    </nav>
    <section id="loge">
      <div id="contact-box">
            <form action="">
                <div class="form-login ">
                    <label for="ID">User ID: </label>
                    <input type="text" name="name" id="ID" placeholder="Enter your ID">
                </div>
                <div class="form-login">
                    <label for="pass">Password: </label>
                    <input type="password" name="name" id="pass" placeholder="Enter your Password">
                </div>
                <input class="btn3" type="submit" value="Login">
                <a class="forgot" href="/forgot">Forgot Password</a>
            </form>
            <form>
                <div class="form-register" style="margin-top:35px;">
                  <label>Not Having Account! Register Here</label>
                  <a class="register" href="/register">Register</a>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div class="center">
            Copyright &copy; www.myuberdata.com. All rights reserved!
        </div>
    </footer>
</body>
</html>